
main{
    
    background-color: azure;
    padding-left: 20em;
    padding-bottom: 1em;


}

#exampleFormControlSelect1{

    width: 30%;
}

.assign-field{
  display: flex;  
    width: 40%;
}
form{
    padding: 2em;
    line-height: 3em;
}

.flex{
    display:flex;
    align-items: center;

}

.status{
    width: 70%;
}

.text-box{
    width: 130%;
}

footer{
    min-height: 20%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 2em;
}

label{
    margin-right: 1em;
}

.assign-date{
    justify-content: space-between;
}

button{
    width: 200px;
}

.flex-button{
    display: flex;
    justify-content: space-evenly;
} 


