
.hidden-list
{
    display:none;
}
    
body{
    background :rgb(138, 138, 221);
}
main{
    padding-left: 2em; 
    padding-bottom: 1em;
    width : 100% !important;
}

/* #exampleFormControlSelect1{

    width: 15%;
}
 */
footer{
    align-items:baseline;
    min-height: 20%;
    background-color: rgb(135, 136, 151);
    color: white;
    text-align: center;
    margin-top: 2em;
    height: 10vh;
}

/* label{
    margin-right: 1em;
} */
/* 
.flex-button{
    display: flex;
    justify-content: space-evenly;
}  
 */

 .done-button{
    font-size: 10px;
    font-weight: bold;
 }
.addTaskBtn{
    margin: 5px 15px;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.delete-button
{
    cursor: pointer;  
}
.progress{
    background-color: #d8d8d8;
    height: 30px;

}
.progress-bar{
    background: linear-gradient(to left,#F2709C,#FF9472);
   /*  box-shadow: 0 3px 3px -5px #F2709C */
}
#editAlertmessage{
    display: hidden;
}
.jumbotron{
    background-color: #ddd5d8;
    height: 30vh;
}
 .dateTime
{
    margin: 0px 15px;
    font-size:2em;
    color: rgb(207, 172, 76);
    font-family:arial;
}
.dateTime span{
    padding: 8px; 
    background:rgb(187, 132, 187);
}
